@using Moon.AspNetCore.Mvc.Sample.Views.Home
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moon.AspNetCore.Mvc</title>
</head>
<body>
    <textarea rows="15" cols="50">@Json.Serialize(Model.Items)</textarea>
</body>
</html>